.header-banner-advert {
	padding: 15px 0 15px;
	background-color: $light-text;

	img {
		margin: 0 auto;
	}
}

.advert-container {
	padding-top: 20px;

	img {
		margin: 0 auto;
	}
}

.article-container {
	a {
		color: $dark-text;
	}

	time {
		font-family: glosaItalic;
		letter-spacing: 0.15em;
		color: $light-text;
	}

	.list-unstyled li, .list-inline li  {
		margin-bottom: 5px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.type-label {
		background-color: #fff;
		color: $dark-text;
		margin-bottom: 3px;
		font-family: glosaBoldItalic;
		letter-spacing: 0.08em;
		text-transform: none;
	}

}

.article-container {
	text-align: center;
}

.large-article {
	h1 {

		font-size: 2.4em;

		@include phone {
			font-size: 2.8em;
		}

		@include large-desktop {
			font-size: 3.4em;
		}

		margin-top: 15px;
	}

	.img-podcast {
		max-width: 80%;
	}

	@include desktop {
		h4 {
			margin: 0;
		}
	}
	
	ul {
		margin-bottom: 20px;
	}
}

.med-article {
	article h1 {
		font-size: 2em;

		@include phone {
			font-size: 2.5em;
		}
	}
}

.small-article {
	article h1 {
		font-size: 2em;
	}
}

.small-article.reuters, .small-article.search-default {
	article h1 {
		font-family: newsGothBold;
		font-size: 1.4em;
		margin-bottom: 5px;
	}
}

.med-article, .small-article {
	.img-responsive {
		max-width: 80%;
		margin: 0 auto;
	}

	.img-responsive.advert {
		max-width: 100%;
	}

	h1 {
		margin-bottom: 25px;
	}

	article h1 {
		margin-bottom: 10px;
	}
}

.double-border-bottom {
	margin-bottom: 40px;
}

.double-border-top {
	margin-top: 60px;
}


.double-border-bottom:after, .double-border-top:before {
		position: relative;
		top: 30px;
		width: 100%;
		height: 10px;
		background-color: #fff;

		border-bottom: 1px solid $dark-text;
		border-top: 1px solid $dark-text;
		border-left: 30px solid #fff;
		border-right: 30px solid #fff;
}

.double-border-top:before {
	top: -30px;
}

.related-drawer {

	ul {
		text-align: left;

		h1 {
			font-family: newsGothBold;
			font-size: 1.6em;
			line-height: 1.2em;
		}

		h3 {
			font-size: 1em;
		}
	}

}

.related-drawer {
	article {
		margin-bottom: 30px;
		padding-bottom: 20px;
		border-bottom: 1px solid $dark-text;

		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
		}

		&:first-child {
			padding-top: 20px;
		}
	}
}

.sponsored-content {
	img {
		width: 100%;
		margin-right: 0px;
	}
}











