// fonts 

@font-face {
	font-family: glosaRegular;
	src: url("../fonts/GlosaMath-Roman.otf") format("opentype");
}

@font-face {
	font-family: glosaBold;
	src: url("../fonts/GlosaMath-Black.otf") format("opentype");
}

@font-face {
	font-family: glosaItalic;
	src: url("../fonts/GlosaMath-RomanItalic.otf") format("opentype");
}

@font-face {
	font-family: glosaBoldItalic;
	src: url("../fonts/GlosaMath-BlackItalic.otf") format("opentype");
}

@font-face {
	font-family: newsGothRegular;
	src: url("../fonts/NewsGothicMTOT-Regular.otf") format("opentype");
}

@font-face {
	font-family: newsGothItalic;
	src: url("../fonts/NewsGothicMTOT-Italic.otf") format("opentype");
}

@font-face {
	font-family: newsGothBold;
	src: url("../fonts/NewsGothicMTOT-Bold.otf") format("opentype");
}

@font-face {
	font-family: newsGothBoldItalic;
	src: url("../fonts/NewsGothicMTOT-BoldItalic.otf") format("opentype");
}


@font-face {
	font-family: knockSixtyNine;
	src: url("../fonts/Knockout-69FullLiteweight.otf") format("opentype");
}

@font-face {
	font-family: knockFourtyNine;
	src: url("../fonts/Knockout49Liteweight-Regular.otf") format("opentype");
}
