// fonts 

@font-face {
	font-family: headMain;
	src: url("/shared_resources/fonts/GlosaMath-Roman.otf") format("opentype");
}

@font-face {
	font-family: headBold;
	src: url("/shared_resources/fonts/GlosaMath-Black.otf") format("opentype");
}

@font-face {
	font-family: prose;
	src: url("/shared_resources/fonts/GlosaMath-RomanItalic.otf") format("opentype");
}

@font-face {
	font-family: proseBold;
	src: url("/shared_resources/fonts/GlosaMath-BlackItalic.otf") format("opentype");
}

@font-face {
	font-family: body;
	src: url("/shared_resources/fonts/NewsGothicMTOT-Regular.otf") format("opentype");
}

@font-face {
	font-family: bodyItalic;
	src: url("/shared_resources/fonts/NewsGothicMTOT-Italic.otf") format("opentype");
}

@font-face {
	font-family: bodyBold;
	src: url("/shared_resources/fonts/NewsGothicMTOT-Bold.otf") format("opentype");
}

@font-face {
	font-family: knockSixtyNine;
	src: url("/shared_resources/fonts/Knockout-69FullLiteweight.otf") format("opentype");
}

@font-face {
	font-family: knockFourtyNine;
	src: url("/shared_resources/fonts/Knockout49Liteweight-Regular.otf") format("opentype");
}