// fonts 

@font-face {
	font-family: glosaRegular;
	src: url("/shared_resources/fonts/GlosaMath-Roman.otf") format("opentype");
}

@font-face {
	font-family: glosaBold;
	src: url("/shared_resources/fonts/GlosaMath-Black.otf") format("opentype");
}

@font-face {
	font-family: glosaItalic;
	src: url("/shared_resources/fonts/GlosaMath-RomanItalic.otf") format("opentype");
}

@font-face {
	font-family: glosaBoldItalic;
	src: url("/shared_resources/fonts/GlosaMath-BlackItalic.otf") format("opentype");
}

@font-face {
	font-family: newsGothRegular;
	src: url("/shared_resources/fonts/NewsGothicMTOT-Regular.otf") format("opentype");
}

@font-face {
	font-family: newsGothItalic;
	src: url("/shared_resources/fonts/NewsGothicMTOT-Italic.otf") format("opentype");
}

@font-face {
	font-family: newsGothBold;
	src: url("/shared_resources/fonts/NewsGothicMTOT-Bold.otf") format("opentype");
}

@font-face {
	font-family: knockSixtyNine;
	src: url("/shared_resources/fonts/Knockout-69FullLiteweight.otf") format("opentype");
}

@font-face {
	font-family: knockFourtyNine;
	src: url("/shared_resources/fonts/Knockout49Liteweight-Regular.otf") format("opentype");
}