.main-nav {
	margin-top: 20px;
	display: none;

	@include tablet {
		display: block;
	}

	a {
		color: $dark-text;
	}

	ul {
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 0;
	}

	li {
		font-size: 1.1em;
		letter-spacing: 0.1em;
		padding: 7px 0 4px 20px;
		border-left: 2px solid #fff;

		color: $dark-text;
		

		&:hover {
			cursor: pointer;
		}
	
		&:first-child {
			padding-left: 0px;
		}

	}

	.menu-static {
		border-top: 1px solid $dark-text;
		li {
			font-family: newsGothBold;
		}
	}

	.menu-trending {
		border-top: 1px solid $rules;
	}

	.menu-trending li {
		&:first-child {
			font-family: newsGothBold;
			color: $nature-red;
		}

		&:first-child:hover {
			cursor: auto;
		}
	}

	li:first-child {
		border-left: none;
	}

	ul:nth-child(2) li {
		border-top: 2px solid #ffffff;
	}		

}
