.main-nav {
	margin-top: 20px;
	margin-bottom: 20px;
	display: none;

	@include tablet {
		display: block;
	}

	ul {
		display: flex;
		align-items: center;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 0;
	}

	li {
		width: 20%;
		text-align: center;
		// font-family: headBold;
		font-size: 1.25em;
		letter-spacing: 0.05em;
		padding: 2px 0;
		border-left: 1px solid $rules;
	}

	li:first-child {
		border-left: none;
	}

	ul:nth-child(2) li {
		border-top: 1px solid $rules;
	}		

	a {
		color: #333;
	}

	.search {
		height: 60px;
		background-color: $rules;
		margin-top: 20px;

		@include desktop {
			margin-top: 0;
		}

		svg {
			width: 20px;
			margin: 20px;
		}
	}
}

.large-search {
	margin-top: 60px;
	margin-bottom: 20px;

	@include tablet {
		margin-bottom: 60px;
	}

	.form-control {
		font-size: 2em;
		height: 2.2em;
		box-shadow: none;
		border-color: $rules;

		background:url(../images/icons/search-bar.png) no-repeat left top; 
		background-position: 5px 5px;

		transition: background 0.3s ease;
	}
	.form-control:focus {
		border-color: $link;
	}

	.search-text {
		background:url(../images/icons/search-bar-focus.png) no-repeat left top; 
		background-position: 5px 5px;
	}
}









