// Typography
body {
	font-family: newsGothRegular;
	position: relative;
}

p {
	font-size: 1.1em;
	line-height: 1.6em;
}

i, em {
	font-family: newsGothItalic;
}

a i, a em {
	font-family: newsGothBoldItalic;
}

b, strong {
	font-family: newsGothBold;
}

h1 {
	font-family: glosaRegular;
}

h4 {
	font-family: knockFourtyNine;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: $light-text;
}
