// Expanding related articles for featured atricle

.featured-img {
	overflow: hidden;
	position: relative;
}

.related-drawer {
	position: absolute;
	width: 310px;
	top: 0px;
	right: -310px;
	height: 412px;
	overflow: scroll;
	padding: 10px 20px 10px 10px;

	background-color: rgba(255,255,255,0.9);

	transition: right 0.4s ease;

	@include large-desktop {
		height: 435px;
	}
}

.related-draw-open {
	right: 0px;
}

.expand-btn {
	display: none;

	@include desktop {
		display: block;
	}

	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;

	transition: transform 0.4s ease, right 0.4s ease;

	transform: rotate(0deg);

	circle {
		fill: #656565;
		transition: fill 0.2s ease;

	}

	circle:hover {
		fill: #222;
	}
}

.expand-btn-open {
	right: 320px;

	transform: rotate(-45deg);

	circle {
		fill: #222;
	}
}