$border-width: 2px;
$darken-amount: 20%;

.main-nav {
	margin-top: 20px;
	margin-bottom: 20px;
	display: none;

	@include tablet {
		display: block;
	}

	a {
		color: $dark-text;
		text-decoration: none;
	}

	ul {
		display: flex;
		align-items: center;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 0;
	}

	li {
		width: 50%;
		text-align: center;
		font-family: knockFourtyNine;
		text-transform: uppercase;
		font-size: 1.25em;
		letter-spacing: 0.1em;
		padding: 2px 0;
		border-left: $border-width solid #fff;

		transition: background-color 0.2s ease;

		&:hover {
			cursor: pointer;
		}
	}

	.menu-static li {
		background-color: $rules;

		&:hover {
			background-color: darken($rules, $darken-amount);
		}
	}

	.menu-trending li {
		background-color: $menu;

		&:hover {
			background-color: darken( $menu, $darken-amount);
		}

		&:first-child {
			color: $nature-red;
		}

		&:first-child:hover {
			background-color: $menu;
			cursor: auto;
		}
	}

	li:first-child {
		border-left: none;
	}

	ul:nth-child(2) li {
		border-top: $border-width solid #ffffff;
	}		

}
