.article-container-newsletter {
	h1 > a {
		color: $dark-text;
	}

	@include desktop {
		.heading h1 {
			text-align: center;
		}
	}

	h1 {
		margin-top: 0;
	}

	.eyebrow {
		margin-bottom: 5px;
		margin-top: 10px;
		font-family: newsGothItalic;
	}

	a {
		font-family: newsGothBold;
	}
}

.top-photo {
	figcaption {
		background-color: $menu;
		padding: 5px 6px;
		font-size: 0.9em;
	}
}