.article-container-newsletter {
	h1 > a {
		color: $dark-text;
	}

	@include desktop {
		.heading h1 {
			text-align: center;
		}
	}
}

.top-photo {
	figcaption {
		background-color: $menu;
		padding: 5px 6px;
		font-size: 0.9em;
	}
}