.article-container-newsletter {
	h1 > a {
		color: $dark-text;
	}

	@include desktop {
		.heading h1 {
			text-align: center;
			margin-top: 20px;
			margin-bottom: 0;
		}
	}

	h1 {
		margin-top: 0;
	}

	.eyebrow {
		margin-bottom: 5px;
		margin-top: 10px;
		font-family: glosaRegular;
	}

	p > a {
		font-family: newsGothBold;
		color: $dark-text;
	}
}

.top-photo, .image-of-the-day {
	figcaption {
		padding: 5px 0px;
		font-size: 0.9em;
		font-family: glosaRegular;
		color: $light-text;
	}

	.credit {
		color: #999;
		font-size: 0.8em;
	}
}

.image-of-the-day {
	h1 {
		margin-bottom: 25px;
	}
}