.header-wrapper {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;

	text-align: center;
	
	background-color: #fff;

	color: #222222;

	.date-line {
		border-top: 1px solid $dark-text;
		border-bottom: 1px solid $dark-text;
		padding: 10px 0 8px;

		display: inline-block;
		width: 100%;
	}

	.logo {

		width: 250px;
		margin-left: auto;
		margin-right: auto;

		@include phone {
			width: 300px;
		}

		@include tablet {
			width: 350px;
		}

		@include desktop {
			width: 400px;
		}

		@include large-desktop {
			width: 450px;
		}
	}
}

.header-wrapper-masthead {
	text-align: center;
	margin-top: 30px;

	color: #000;

	.date-line {
		font-size: 0.8em;
		letter-spacing: 1.5px;
		text-transform: uppercase;
		color: $dark-text;
		margin-bottom: 20px;
	}

	.daily-briefing {
		font-family: glosaRegular;
		letter-spacing: -1.5px;
		font-size: 2.4em;
		margin-bottom: -3px;
	}

	.logo {
		width: 250px;
		margin-left: auto;
		margin-right: auto;
	}

	.strap {
		font-family: knockTwentyNine;
		text-transform: uppercase;
		font-size: 0.78em;
		letter-spacing: 0.15em;

		border-top: 1px solid $dark-text;
		border-bottom: 1px solid $dark-text;

		margin-top: 8px;

		padding-top: 6px;
		@include tablet {
			padding-top: 8px;
		}

		padding-bottom: 5px;
	}

	@include phone {
		.date-line {
			font-size: 0.8em;
		}

		.logo {
			width: 300px;
		}

		.strap {
			font-size: 0.92em;
		}

		.daily-briefing {
			font-size: 3em;
			margin-bottom: -6px;
		}
	}

	@include tablet {
		.date-line {
			font-size: 1em;
		}

		.logo {
			width: 350px;
		}

		.strap {
			font-size: 1.08em;
		}

		.daily-briefing {
			font-size: 3.4em;
			margin-bottom: -6px;
		}
	}

	@include desktop {
		.date-line {
			font-size: 1em;
		}

		.logo {
			width: 400px;
		}

		.strap {
			font-size: 1.22em;
		}

		.daily-briefing {
			font-size: 3.7em;
			margin-bottom: -10px;
		}
	}

	@include large-desktop {
		.date-line {
			font-size: 1.2em;
		}

		.logo {
			width: 450px;
		}

		.strap {
			font-size: 1.38em;
		}

		.daily-briefing {
			font-size: 4.2em;
			margin-bottom: -10px;
		}
	}

}

.header-wrapper.newsletter-b {
	margin-top: 0;

	.top-bar {
		background-color: #333;
		height: 20px;
		margin-bottom: 20px;
	}
}

.sponsor-logo {
	top: 11px;
	position: relative;
}

.readcube-logo {
	top: 7px;
	position: relative;
	text-decoration: none;
}