@font-face {
  font-family: glosaRegular;
  src: url("../fonts/GlosaMath-Roman.otf") format("opentype");
}
@font-face {
  font-family: glosaBold;
  src: url("../fonts/GlosaMath-Black.otf") format("opentype");
}
@font-face {
  font-family: glosaItalic;
  src: url("../fonts/GlosaMath-RomanItalic.otf") format("opentype");
}
@font-face {
  font-family: glosaBoldItalic;
  src: url("../fonts/GlosaMath-BlackItalic.otf") format("opentype");
}
@font-face {
  font-family: newsGothRegular;
  src: url("../fonts/NewsGothicMTOT-Regular.otf") format("opentype");
}
@font-face {
  font-family: newsGothItalic;
  src: url("../fonts/NewsGothicMTOT-Italic.otf") format("opentype");
}
@font-face {
  font-family: newsGothBold;
  src: url("../fonts/NewsGothicMTOT-Bold.otf") format("opentype");
}
@font-face {
  font-family: knockSixtyNine;
  src: url("../fonts/Knockout-69FullLiteweight.otf") format("opentype");
}
@font-face {
  font-family: knockFourtyNine;
  src: url("../fonts/Knockout49Liteweight-Regular.otf") format("opentype");
}
body {
  font-family: newsGothRegular;
  position: relative;
}

p {
  font-size: 1.1em;
  line-height: 1.6em;
}

i, em {
  font-family: newsGothItalic;
}

b, strong {
  font-family: newsGothBold;
}

h1 {
  font-family: glosaRegular;
}

h4 {
  font-family: knockFourtyNine;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #666;
}

.header-banner-advert {
  padding: 20px 0 10px;
}
.header-banner-advert img {
  margin: 0 auto;
}

.header-wrapper {
  position: fixed;
  top: 0px;
  margin-top: 0px;
  width: 100%;
  height: 50px;
  background-color: #fff;
  z-index: 999;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .header-wrapper {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 768px) {
  .header-wrapper {
    position: relative;
    box-shadow: none;
    height: 64px;
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
  .header-wrapper {
    height: 70px;
  }
}
.header-wrapper .print-cover {
  display: none;
}
@media (min-width: 768px) {
  .header-wrapper .print-cover {
    display: block;
    position: absolute;
    left: 15px;
  }
  .header-wrapper .print-cover img {
    height: 64px;
  }
}
@media (min-width: 992px) {
  .header-wrapper .print-cover img {
    height: 70px;
  }
}
.header-wrapper .search-icon {
  width: 16px;
  margin-top: 17px;
}
@media (min-width: 768px) {
  .header-wrapper .search-icon {
    display: none;
  }
}
.header-wrapper .logo {
  width: 80px;
  margin-top: 14px;
}
@media (min-width: 768px) {
  .header-wrapper .logo {
    width: 160px;
    margin-top: 11px;
  }
}
@media (min-width: 992px) {
  .header-wrapper .logo {
    width: 230px;
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .header-wrapper .logo {
    width: 250px;
    margin-top: 8px;
  }
}
.header-wrapper .dots-icon {
  width: 16px;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .header-wrapper .dots-icon {
    display: none;
  }
}
.header-wrapper .header-social-icons {
  margin-top: 16px;
  display: none;
}
@media (min-width: 768px) {
  .header-wrapper .header-social-icons {
    display: block;
    position: absolute;
    right: 15px;
    margin-top: 0;
  }
}

.main-nav {
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
}
@media (min-width: 768px) {
  .main-nav {
    display: block;
  }
}
.main-nav ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.main-nav li {
  width: 20%;
  text-align: center;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  padding: 2px 0;
  border-left: 1px solid #ccc;
}
.main-nav li:first-child {
  border-left: none;
}
.main-nav ul:nth-child(2) li {
  border-top: 1px solid #ccc;
}
.main-nav a {
  color: #333;
}
.main-nav .search {
  height: 60px;
  background-color: #ccc;
  margin-top: 20px;
}
@media (min-width: 992px) {
  .main-nav .search {
    margin-top: 0;
  }
}
.main-nav .search svg {
  width: 20px;
  margin: 20px;
}
