@font-face {
  font-family: glosaRegular;
  src: url("../fonts/GlosaMath-Roman.otf") format("opentype");
}
@font-face {
  font-family: glosaBold;
  src: url("../fonts/GlosaMath-Black.otf") format("opentype");
}
@font-face {
  font-family: glosaItalic;
  src: url("../fonts/GlosaMath-RomanItalic.otf") format("opentype");
}
@font-face {
  font-family: glosaBoldItalic;
  src: url("../fonts/GlosaMath-BlackItalic.otf") format("opentype");
}
@font-face {
  font-family: newsGothRegular;
  src: url("../fonts/NewsGothicMTOT-Regular.otf") format("opentype");
}
@font-face {
  font-family: newsGothItalic;
  src: url("../fonts/NewsGothicMTOT-Italic.otf") format("opentype");
}
@font-face {
  font-family: newsGothBold;
  src: url("../fonts/NewsGothicMTOT-Bold.otf") format("opentype");
}
@font-face {
  font-family: newsGothBoldItalic;
  src: url("../fonts/NewsGothicMTOT-BoldItalic.otf") format("opentype");
}
@font-face {
  font-family: knockSixtyNine;
  src: url("../fonts/Knockout-69FullLiteweight.otf") format("opentype");
}
@font-face {
  font-family: knockFourtyNine;
  src: url("../fonts/Knockout49Liteweight-Regular.otf") format("opentype");
}
@font-face {
  font-family: knockTwentyNine;
  src: url("../fonts/Knockout-29JuniorLtweight.otf") format("opentype");
}
body {
  font-family: newsGothRegular;
  position: relative;
}

p {
  font-size: 1.1em;
  line-height: 1.6em;
}

i, em {
  font-family: newsGothItalic;
}

a i, a em {
  font-family: newsGothBoldItalic;
}

b, strong {
  font-family: newsGothBold;
}

h1 {
  font-family: glosaRegular;
}

h4 {
  font-family: knockFourtyNine;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #666;
}

.invisible-btn {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

.header-wrapper {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #fff;
  color: #222222;
}
.header-wrapper .date-line {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 10px 0 8px;
  display: inline-block;
  width: 100%;
}
.header-wrapper .logo {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 480px) {
  .header-wrapper .logo {
    width: 300px;
  }
}
@media (min-width: 768px) {
  .header-wrapper .logo {
    width: 350px;
  }
}
@media (min-width: 992px) {
  .header-wrapper .logo {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  .header-wrapper .logo {
    width: 450px;
  }
}

.header-wrapper-masthead {
  text-align: center;
  margin-top: 18px;
}
.header-wrapper-masthead .date-line, .header-wrapper-masthead .daily-briefing {
  font-family: glosaRegular;
}
.header-wrapper-masthead .date-line {
  margin-bottom: 6px;
  font-size: 1em;
}
.header-wrapper-masthead .daily-briefing {
  letter-spacing: -1.5px;
  font-size: 2.4em;
}
.header-wrapper-masthead .logo {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.header-wrapper-masthead .strap {
  font-family: knockTwentyNine;
  text-transform: uppercase;
  color: #666;
  font-size: 0.78em;
  letter-spacing: 0.15em;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  margin-top: 8px;
  padding-top: 6px;
  padding-bottom: 5px;
}
@media (min-width: 768px) {
  .header-wrapper-masthead .strap {
    padding-top: 8px;
  }
}
@media (min-width: 480px) {
  .header-wrapper-masthead .date-line {
    font-size: 1em;
  }
  .header-wrapper-masthead .logo {
    width: 300px;
  }
  .header-wrapper-masthead .strap {
    font-size: 0.92em;
  }
  .header-wrapper-masthead .daily-briefing {
    font-size: 3em;
  }
}
@media (min-width: 768px) {
  .header-wrapper-masthead .date-line {
    font-size: 1.2em;
  }
  .header-wrapper-masthead .logo {
    width: 350px;
  }
  .header-wrapper-masthead .strap {
    font-size: 1.08em;
  }
  .header-wrapper-masthead .daily-briefing {
    font-size: 3.4em;
  }
}
@media (min-width: 992px) {
  .header-wrapper-masthead .date-line {
    font-size: 1.4em;
  }
  .header-wrapper-masthead .logo {
    width: 400px;
  }
  .header-wrapper-masthead .strap {
    font-size: 1.22em;
  }
  .header-wrapper-masthead .daily-briefing {
    font-size: 3.7em;
  }
}
@media (min-width: 1200px) {
  .header-wrapper-masthead .date-line {
    font-size: 1.5em;
  }
  .header-wrapper-masthead .logo {
    width: 450px;
  }
  .header-wrapper-masthead .strap {
    font-size: 1.38em;
  }
  .header-wrapper-masthead .daily-briefing {
    font-size: 4.2em;
  }
}

.header-wrapper.newsletter-b {
  margin-top: 0;
}
.header-wrapper.newsletter-b .top-bar {
  background-color: #333;
  height: 20px;
  margin-bottom: 20px;
}

.sponsor-logo {
  top: 11px;
  position: relative;
}

.readcube-logo {
  top: 7px;
  position: relative;
  text-decoration: none;
}

.advert-container {
  padding-top: 20px;
}

.article-container-newsletter h1 > a {
  color: #333;
}
.article-container-newsletter .heading h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .article-container-newsletter .heading h1 {
    text-align: center;
  }
}
.article-container-newsletter h1 {
  margin-top: 0;
}
.article-container-newsletter .eyebrow {
  margin-bottom: 5px;
  margin-top: 10px;
  font-family: glosaRegular;
}
.article-container-newsletter .eyebrow.journal {
  font-family: glosaItalic;
}
.article-container-newsletter p > a {
  font-family: newsGothBold;
  color: #333;
}
.article-container-newsletter .good-morning {
  font-family: glosaRegular;
  font-size: 1.6em;
}
.article-container-newsletter .well {
  margin-top: 20px;
  margin-bottom: 10px;
}

.small-article-newsletter article h1 {
  font-size: 1.8em;
}
.small-article-newsletter .img-responsive {
  margin: 0 auto;
}

.recommended-container-newsletter {
  text-align: center;
}
.recommended-container-newsletter .heading h1 {
  margin-bottom: 30px;
}
.recommended-container-newsletter h1 {
  margin-top: 20px;
}

.top-photo figcaption, .image-of-the-day figcaption {
  padding: 5px 0px;
  font-size: 0.9em;
  font-family: glosaRegular;
  color: #666;
}
.top-photo .credit, .image-of-the-day .credit {
  color: #999;
  font-size: 0.8em;
}

.image-of-the-day figure {
  margin-top: 10px;
}

.newsletter-b h1 {
  text-align: center;
}
.newsletter-b .top-photo {
  margin-bottom: 10px;
}
.newsletter-b .sign-up em a {
  font-family: newsGothBoldItalic;
  color: #0d599a;
}
.newsletter-b .sign-up .tool-social-icons {
  margin-bottom: 10px;
}
.newsletter-b .quote {
  font-family: glosaItalic;
  font-size: 1.6em;
  text-align: center;
  color: #888;
  padding: 0 0 10px 0;
}
.newsletter-b .quote a {
  font-family: glosaItalic;
}
.newsletter-b .sponsor-message h1 {
  text-align: left;
}

footer p {
  font-size: 1em;
  color: #666;
}

.double-border-newsletter-bottom {
  margin-bottom: 40px;
}

.double-border-newsletter-top {
  margin-top: 60px;
}

.double-border-newsletter-bottom:after, .double-border-newsletter-top:before {
  position: relative;
  top: 30px;
  left: 15px;
  width: calc(100% - 30px);
  height: 10px;
  background-color: #fff;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
}
@media (min-width: 992px) {
  .double-border-newsletter-bottom:after, .double-border-newsletter-top:before {
    left: 177px;
    width: calc(100% - 354px);
  }
}
@media (min-width: 1200px) {
  .double-border-newsletter-bottom:after, .double-border-newsletter-top:before {
    left: 210px;
    width: calc(100% - 420px);
  }
}

.double-border-newsletter-top:before {
  top: -30px;
}

.top-5-expanded .top-5-header, .top-5-collapse .top-5-header {
  margin-top: 70px;
}
@media (min-width: 768px) {
  .top-5-expanded .top-5-header, .top-5-collapse .top-5-header {
    margin-top: 15px;
  }
}
.top-5-expanded .top-5-header h1, .top-5-collapse .top-5-header h1 {
  padding: 15px 0 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.top-5-expanded .top-5-list, .top-5-expanded .top-5-item, .top-5-collapse .top-5-list, .top-5-collapse .top-5-item {
  text-align: left;
}
@media (min-width: 768px) {
  .top-5-expanded .top-5-pictured img, .top-5-collapse .top-5-pictured img {
    float: right;
    width: 50%;
    margin: 0 0 10px 10px;
  }
}
.top-5-expanded .top-5-list > li, .top-5-expanded .top-5-item > .top-5-border-top, .top-5-collapse .top-5-list > li, .top-5-collapse .top-5-item > .top-5-border-top {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}
.top-5-expanded .top-5-item > .top-5-border-top, .top-5-collapse .top-5-item > .top-5-border-top {
  margin-top: 20px;
}
.top-5-expanded .top-5-item > .top-5-border-top-xtr, .top-5-collapse .top-5-item > .top-5-border-top-xtr {
  padding-top: 30px;
  padding-bottom: 10px;
}
.top-5-expanded .top-5-list > li:first-child, .top-5-expanded .top-5-list > article:first-child, .top-5-collapse .top-5-list > li:first-child, .top-5-collapse .top-5-list > article:first-child {
  margin-top: 20px;
  padding-top: 0;
  border-top: none;
}
.top-5-expanded h1, .top-5-collapse h1 {
  margin-top: 10px;
}
.top-5-expanded p > a, .top-5-collapse p > a {
  font-family: newsGothBold;
  color: #0d599a;
}
.top-5-expanded label, .top-5-collapse label {
  font-family: newsGothBold;
  font-size: 1.6em;
}
.top-5-expanded .list-inline, .top-5-collapse .list-inline {
  margin-left: 0;
}
.top-5-expanded form input, .top-5-collapse form input {
  margin-bottom: 10px;
  display: inline-block;
  box-shadow: none;
}
.top-5-expanded form input:focus, .top-5-collapse form input:focus {
  box-shadow: none;
  border-color: #999999;
}
@media (min-width: 768px) {
  .top-5-expanded form input, .top-5-collapse form input {
    width: 80%;
    margin-bottom: 0;
  }
  .top-5-expanded form button, .top-5-collapse form button {
    width: 19%;
    float: right;
  }
}

.collapse-list {
  margin-bottom: 8px;
}

.tool-social-icons li {
  fill: #999999;
  transition: fill 0.2s ease;
}
.tool-social-icons li:hover {
  fill: #333;
}
.tool-social-icons li.tool-facebook-icon:hover {
  fill: #37589A;
}
.tool-social-icons li.tool-twitter-icon:hover {
  fill: #39A9E0;
}

.tool-social-vertical {
  margin-bottom: 0px;
  margin-top: 10px;
}
.tool-social-vertical li {
  display: inline-block;
}
@media (min-width: 992px) {
  .tool-social-vertical {
    text-align: right;
    margin-top: 20px;
  }
  .tool-social-vertical li {
    display: list-item;
  }
  .tool-social-vertical.tool-social-summary {
    margin-top: 40px;
  }
}

.top-5-expanded h1 {
  font-size: 2em;
  line-height: 1.25em;
}
@media (min-width: 992px) {
  .top-5-expanded h1 {
    font-size: 2.55em;
    line-height: 1.2em;
  }
}
.top-5-expanded .top-5-header {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .top-5-expanded .top-5-header {
    margin-bottom: 10px;
  }
}
.top-5-expanded .tool-social-icons {
  text-align: left;
  margin-bottom: 0px;
}
@media (min-width: 992px) {
  .top-5-expanded .tool-social-icons {
    text-align: right;
  }
}
.top-5-expanded .tool-social-vertical {
  margin-bottom: 0px;
}
.top-5-expanded .tool-social-vertical li {
  margin-bottom: 0px;
}
@media (min-width: 992px) {
  .top-5-expanded .tool-social-vertical {
    margin-top: 80px;
  }
  .top-5-expanded .tool-social-vertical.tool-social-summary {
    margin-top: 40px;
  }
  .top-5-expanded .tool-social-vertical li {
    margin-bottom: 5px;
  }
}

.top-5-collapse h1 {
  font-size: 1.8em;
}
.top-5-collapse .top-5-list > li {
  margin-top: 10px;
  padding-top: 15px;
}
.top-5-collapse .media-object {
  width: 64px;
  margin-top: 7px;
}

.summary .double-border-top {
  margin-top: 40px;
}
@media (min-width: 768px) {
  .summary .double-border-top {
    margin-top: 60px;
  }
}
.summary .pull-left {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-right: 0px;
}
@media (min-width: 768px) {
  .summary .pull-left {
    width: 50%;
    margin-right: 20px;
  }
}
.summary .timeline ul {
  padding-left: 6px;
  list-style: none;
}
.summary .timeline li {
  position: relative;
  display: block;
}
.summary .timeline a {
  color: #666;
  position: relative;
  padding: 0 10px 12px 20px;
  border-left: 2px solid #999999;
  display: block;
}
.summary .timeline .active a {
  color: #333;
  font-family: bodyBold;
}
.summary .timeline a:before {
  display: block;
  position: absolute;
  content: ' ';
  top: 0.4em;
  left: -0.4em;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #999999;
}
.summary .timeline .active a:before {
  background-color: #333;
}
.summary .timeline .timeline-title:hover {
  text-decoration: underline;
}
.summary h2 {
  font-family: glosaRegular;
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
.summary .media-body h4, .summary .timeline h4 {
  margin-top: 0;
  margin-bottom: 0;
}
.summary .thumbnail {
  padding: 10px;
}
@media (min-width: 768px) {
  .summary .thumbnail {
    margin-bottom: 0;
  }
}

footer {
  margin-bottom: 20px;
}
footer h4 {
  margin-bottom: 0;
}
footer a {
  color: #666;
}
footer a:hover {
  color: #333;
}

.ai2html {
  margin: 20px 0;
  padding: 0;
}
.ai2html .g-artboard {
  margin: 0;
  padding: 0;
  position: relative;
}
.ai2html .g-artboard .g-description {
  padding: 0;
}
.ai2html h1 {
  font-size: 1.5em;
}
.ai2html p {
  margin: 0;
}
.ai2html .g-header, .ai2html .g-description, .ai2html .g-footnote {
  padding: 10px 20px;
}
.ai2html .g-footnote {
  text-align: right;
  font-size: 0.8em;
}
.ai2html dl {
  margin-bottom: 0px;
}
.ai2html dt {
  font-family: newsGothBold;
}
.ai2html dd {
  margin-bottom: 10px;
}
.ai2html dd p, .ai2html dt p {
  font-size: 1em;
  line-height: 1.4em;
}
.ai2html .dl-horizontal dt {
  width: 22px;
  text-align: left;
  float: left;
  clear: both;
}
.ai2html .dl-horizontal dd {
  margin-left: 22px;
  margin-bottom: 2px;
}
.ai2html .g-aiImg {
  display: block;
  width: 100% !important;
  max-width: 100%;
}
