@font-face {
  font-family: glosaRegular;
  src: url("../fonts/GlosaMath-Roman.otf") format("opentype");
}
@font-face {
  font-family: glosaBold;
  src: url("../fonts/GlosaMath-Black.otf") format("opentype");
}
@font-face {
  font-family: glosaItalic;
  src: url("../fonts/GlosaMath-RomanItalic.otf") format("opentype");
}
@font-face {
  font-family: glosaBoldItalic;
  src: url("../fonts/GlosaMath-BlackItalic.otf") format("opentype");
}
@font-face {
  font-family: newsGothRegular;
  src: url("../fonts/NewsGothicMTOT-Regular.otf") format("opentype");
}
@font-face {
  font-family: newsGothItalic;
  src: url("../fonts/NewsGothicMTOT-Italic.otf") format("opentype");
}
@font-face {
  font-family: newsGothBold;
  src: url("../fonts/NewsGothicMTOT-Bold.otf") format("opentype");
}
@font-face {
  font-family: newsGothBoldItalic;
  src: url("../fonts/NewsGothicMTOT-BoldItalic.otf") format("opentype");
}
@font-face {
  font-family: knockSixtyNine;
  src: url("../fonts/Knockout-69FullLiteweight.otf") format("opentype");
}
@font-face {
  font-family: knockFourtyNine;
  src: url("../fonts/Knockout49Liteweight-Regular.otf") format("opentype");
}
body {
  font-family: newsGothRegular;
  position: relative;
}

p {
  font-size: 1.1em;
  line-height: 1.6em;
}

i, em {
  font-family: newsGothItalic;
}

a i, a em {
  font-family: newsGothBoldItalic;
}

b, strong {
  font-family: newsGothBold;
}

h1 {
  font-family: glosaRegular;
}

h4 {
  font-family: knockFourtyNine;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #666;
}

.invisible-btn {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

.header-wrapper {
  position: fixed;
  top: 0px;
  margin-top: 0px;
  width: 100%;
  height: 50px;
  background-color: #fff;
  z-index: 999;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .header-wrapper {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 768px) {
  .header-wrapper {
    position: relative;
    box-shadow: none;
    height: 64px;
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
  .header-wrapper {
    height: 70px;
  }
}
.header-wrapper .print-cover {
  display: none;
}
@media (min-width: 768px) {
  .header-wrapper .print-cover {
    display: block;
    position: absolute;
    left: 15px;
  }
  .header-wrapper .print-cover img {
    height: 64px;
  }
}
@media (min-width: 992px) {
  .header-wrapper .print-cover img {
    height: 70px;
  }
}
.header-wrapper .search-icon {
  color: #666666;
  fill: currentColor;
  width: 16px;
  margin-top: 17px;
}
@media (min-width: 768px) {
  .header-wrapper .search-icon {
    display: none;
  }
}
.header-wrapper .logo {
  width: 80px;
  margin-top: 14px;
}
@media (min-width: 768px) {
  .header-wrapper .logo {
    width: 160px;
    margin-top: 11px;
  }
}
@media (min-width: 992px) {
  .header-wrapper .logo {
    width: 230px;
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .header-wrapper .logo {
    width: 250px;
    margin-top: 8px;
  }
}
.header-wrapper .dots-icon {
  color: #666666;
  fill: currentColor;
  width: 16px;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .header-wrapper .dots-icon {
    display: none;
  }
}
.header-wrapper .header-social-icons {
  margin-top: 16px;
  display: none;
}
@media (min-width: 768px) {
  .header-wrapper .header-social-icons {
    display: block;
    position: absolute;
    right: 15px;
    margin-top: 0;
  }
}

.main-nav {
  margin-top: 20px;
  display: none;
}
@media (min-width: 768px) {
  .main-nav {
    display: block;
  }
}
.main-nav a {
  color: #333;
}
.main-nav ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.main-nav li {
  font-size: 1.1em;
  letter-spacing: 0.1em;
  padding: 7px 0 4px 20px;
  border-left: 2px solid #fff;
  color: #333;
}
.main-nav li:hover {
  cursor: pointer;
}
.main-nav li:first-child {
  padding-left: 0px;
}
.main-nav .menu-static {
  border-top: 1px solid #333;
}
.main-nav .menu-static li {
  font-family: newsGothBold;
}
.main-nav .menu-trending {
  border-top: 1px solid #ccc;
}
.main-nav .menu-trending li:first-child {
  font-family: newsGothBold;
  color: #bf0222;
}
.main-nav .menu-trending li:first-child:hover {
  cursor: auto;
}
.main-nav li:first-child {
  border-left: none;
}
.main-nav ul:nth-child(2) li {
  border-top: 2px solid #ffffff;
}

.search {
  height: 60px;
  background-color: #eee;
  margin-top: 2px;
  color: #666;
  fill: currentColor;
}
@media (min-width: 992px) {
  .search {
    margin-top: 0;
  }
}
.search svg {
  width: 20px;
  height: 20px;
  margin: 20px;
}

.filter {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.large-search {
  margin-top: 60px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .large-search {
    margin-bottom: 60px;
  }
}
.large-search .form-control {
  font-size: 2em;
  height: 2.2em;
  box-shadow: none;
  border-color: #ccc;
  background: url(../images/icons/search-bar.png) no-repeat left top;
  background-position: 5px 5px;
  transition: background 0.3s ease;
}
.large-search .form-control:focus {
  border-color: #0067BE;
}
.large-search .search-text {
  background: url(../images/icons/search-bar-focus.png) no-repeat left top;
  background-position: 5px 5px;
}

.sidebar > h1, .search-results > h1 {
  margin-bottom: 25px;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #333;
}
@media (min-width: 992px) {
  .sidebar > h1, .search-results > h1 {
    padding-top: 0;
    border-top: none;
  }
}
.sidebar article, .search-results article {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}
.sidebar article figure, .search-results article figure {
  width: 20%;
  text-align: right;
}
.sidebar article section, .search-results article section {
  width: 70%;
  padding-right: 10px;
}
.sidebar article time, .search-results article time {
  width: 10%;
}
.sidebar img, .search-results img {
  margin-top: 3px;
  max-width: 100%;
  margin-bottom: 10px;
}
.sidebar ul, .search-results ul {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 0;
  height: auto;
}
@media (min-width: 992px) {
  .sidebar ul, .search-results ul {
    height: 1008px;
    overflow: scroll;
  }
}
.sidebar ul h4, .search-results ul h4 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1em;
}
.sidebar ul h1, .search-results ul h1 {
  font-family: newsGothRegular;
  margin: 0 0 10px 0;
  font-size: 1.1em;
  line-height: 1.4em;
}
.sidebar ul time, .search-results ul time {
  font-size: 0.9em;
  font-family: newsGothRegular;
  color: #999999;
}
.sidebar ul a, .search-results ul a {
  color: #333;
  cursor: pointer;
}
.sidebar li, .search-results li {
  margin-bottom: 0px;
  border-top: 1px solid #eee;
  padding-left: 15px;
  padding-right: 20px;
  background-color: #ffffff;
  cursor: auto;
  transition: background-color 0.2s ease;
}
.sidebar li:first-child, .search-results li:first-child {
  border-top: none;
}
.sidebar li:hover, .search-results li:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}
.sidebar .date-divider, .search-results .date-divider {
  padding-top: 10px;
  padding-bottom: 10px;
}
.sidebar .sponsored-content, .search-results .sponsored-content {
  margin-bottom: 15px;
  background-color: #ffffff;
}
.sidebar .sponsored-content:hover, .search-results .sponsored-content:hover {
  background-color: #ffffff;
}

.search-results {
  display: none;
  margin-top: 0;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .search-results {
    margin-top: -40px;
  }
}
.search-results ul {
  border-left: none;
  border-right: none;
  padding: 0;
}

.header-banner-advert {
  padding: 15px 0 15px;
  background-color: #666;
}
.header-banner-advert img {
  margin: 0 auto;
}

.advert-container {
  padding-top: 20px;
}
.advert-container img {
  margin: 0 auto;
}

.article-container a {
  color: #333;
}
.article-container time {
  font-family: glosaItalic;
  letter-spacing: 0.15em;
  color: #666;
}
.article-container .list-unstyled li, .article-container .list-inline li {
  margin-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
}
.article-container .type-label {
  background-color: #fff;
  color: #333;
  margin-bottom: 3px;
  font-family: glosaBoldItalic;
  letter-spacing: 0.08em;
  text-transform: none;
}

.article-container {
  text-align: center;
}

.large-article h1 {
  font-size: 2.4em;
  margin-top: 15px;
}
@media (min-width: 480px) {
  .large-article h1 {
    font-size: 2.8em;
  }
}
@media (min-width: 1200px) {
  .large-article h1 {
    font-size: 3.4em;
  }
}
.large-article .img-podcast {
  max-width: 80%;
}
@media (min-width: 992px) {
  .large-article h4 {
    margin: 0;
  }
}
.large-article ul {
  margin-bottom: 20px;
}

.med-article article h1 {
  font-size: 2em;
}
@media (min-width: 480px) {
  .med-article article h1 {
    font-size: 2.5em;
  }
}

.small-article article h1 {
  font-size: 2em;
}

.article-no-head {
  padding-top: 22px;
}

.small-article.reuters article h1, .small-article.search-default article h1 {
  font-family: newsGothBold;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.med-article .img-responsive, .small-article .img-responsive {
  max-width: 80%;
  margin: 0 auto;
}
.med-article .img-responsive.advert, .small-article .img-responsive.advert {
  max-width: 100%;
}
.med-article h1, .small-article h1 {
  margin-bottom: 25px;
}
.med-article article h1, .small-article article h1 {
  margin-bottom: 10px;
}

.double-border-bottom {
  margin-bottom: 40px;
}

.double-border-top {
  margin-top: 60px;
}

.double-border-bottom:after, .double-border-top:before {
  position: relative;
  top: 30px;
  left: 15px;
  width: calc(100% - 30px);
  height: 10px;
  background-color: #fff;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
}

.double-border-top:before {
  top: -30px;
}

.sponsored-content img {
  width: 100%;
  margin-right: 0px;
}

.featured-img {
  overflow: hidden;
  position: relative;
}

.related-drawer {
  position: absolute;
  width: 310px;
  top: 0px;
  right: -310px;
  height: 412px;
  overflow: scroll;
  padding: 10px 20px 10px 15px;
  background-color: rgba(255, 255, 255, 0.9);
  transition: right 0.4s ease;
}
@media (min-width: 1200px) {
  .related-drawer {
    height: 435px;
  }
}

.related-draw-open {
  right: 0px;
}

.related-drawer ul {
  text-align: left;
  margin-bottom: 5px;
}
.related-drawer ul h1 {
  font-family: newsGothBold;
  font-size: 1.6em;
  line-height: 1.2em;
}
.related-drawer ul h3 {
  font-size: 1em;
}

.article-container .related-drawer ul li {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
}
.article-container .related-drawer ul li:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.expand-btn {
  display: none;
  color: menu;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 30px;
  padding: 0 5px 0 15px;
  background-color: #333;
  transition: right 0.4s ease, padding 0.4s ease;
}
@media (min-width: 992px) {
  .expand-btn {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.expand-btn svg {
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
}

.expand-btn-open {
  right: 310px;
  padding-right: 0px;
}
.expand-btn-open svg {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

footer {
  margin-bottom: 20px;
}
footer h4 {
  margin-bottom: 0;
}
footer a {
  color: #666;
}
footer a:hover {
  color: #333;
}
