// top-five-article

.top-5-expanded {

	.top-5-header {
	    margin-top: 70px;

	    @include tablet {
	    	margin-top: 15px;
	    }

	    h1 {
	    	// margin-bottom: 8px;
	    	padding: 15px 0 10px;
		    border-top: 1px solid $rules;
		    border-bottom: 1px solid $rules;
	    }
	}

	.top-5-list {
		text-align: left;
	}

	.top-5-pictured {
		@include tablet {
			img {
				float: right;
				width: 50%;
				margin: 0 0 10px 10px;
			}
		}
	}

	.top-5-list > li {
		margin-top: 30px;
		padding-top: 20px;
		border-top: 1px solid $rules;
	}

	.top-5-list > li:first-child {
		margin-top: 20px;
		padding-top: 0;
		border-top: none;

	// 	h4 {
	// 		margin-top: 0;
	// 	}
	}

	h1 {
		margin-top: 10px;
	}

	label {
		font-family: newsGothBold;
		font-size: 1.6em;
	}

	.list-inline {
		margin-left: 0;
	}

	form {
		input {
			margin-bottom: 10px;
			display: inline-block;
		}

		@include tablet {
			input {
				width: 80%;
				margin-bottom: 0;
			}
			button {
				width: 19%;
				float: right;
			}
		}
	}


}

